<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zamaroot - facilities opening hours</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Eyal Benvenisti">
    <meta name="descripation" content="">

    <!-- Add favicon -->
    <link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon">
</head>
<body id = "error">
    <img src="images/content/error.png">
    <!-- <p>{{error}}</p> -->
</body>
</html>